                                           PANDAS

In [10]:
#IMPORTING PANDAS

import pandas as pd

In [11]:
#READING CSV 

data=pd.read_csv("C:\\Users\\nqnqa\\Downloads\\seattle-weather.csv")

In [12]:
data

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [25]:
data["weather"].value_counts()

weather
rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: count, dtype: int64

In [26]:
#GROUPBY

data01=data.groupby(["weather"])

In [27]:
data01

In [28]:
for weather , weather_data in data01:
    
    print(weather_data)
    
    print(weather)

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
26    2012-01-27            0.0       6.7      -2.2   1.4  drizzle
45    2012-02-15            0.0       7.2       0.6   1.8  drizzle
85    2012-03-26            0.0      12.8       6.1   4.3  drizzle
103   2012-04-13            0.0      15.0       3.9   4.0  drizzle
118   2012-04-28            0.0      16.1       8.3   2.5  drizzle
135   2012-05-15            0.0      24.4       9.4   4.1  drizzle
175   2012-06-24            0.0      19.4       9.4   2.0  drizzle
186   2012-07-05            0.0      24.4      10.6   3.1  drizzle
191   2012-07-10            0.0      23.9      11.1   2.3  drizzle
193   2012-07-12            0.0      25.6      13.3   2.7  drizzle
207   2012-07-26            0.0      25.6      12.8   2.2  drizzle
208   2012-07-27            0.0      18.9      13.9   2.8  drizzle
209   2012-07-28            0.0      22.2      13.3   1.7  drizzle
213   2012-08-01            0.0      23.9      13.3   2.2  drizzle
219   2012-08-07            0.0      21.1      15.0   2.6  drizzle
221   2012-08-09            0.0      24.4      14.4   3.8  drizzle
230   2012-08-18            0.0      21.7      14.4   3.0  drizzle
231   2012-08-19            0.0      23.3      15.0   2.7  drizzle
262   2012-09-19            0.0      23.9      11.7   1.9  drizzle
263   2012-09-20            0.0      19.4      10.0   2.5  drizzle
264   2012-09-21            0.0      16.1      12.8   2.1  drizzle
269   2012-09-26            0.0      19.4       9.4   1.7  drizzle
270   2012-09-27            0.0      22.8      10.0   1.7  drizzle
282   2012-10-09            0.0      16.1       8.9   1.6  drizzle
283   2012-10-10            0.0      12.2       8.3   1.4  drizzle
284   2012-10-11            0.0      13.9       7.2   1.3  drizzle
319   2012-11-15            0.0       9.4       2.8   2.4  drizzle
329   2012-11-25            0.0       8.3       1.1   3.6  drizzle
364   2012-12-30            0.0       4.4       0.0   1.8  drizzle
365   2012-12-31            0.0       3.3      -1.1   2.0  drizzle
376   2013-01-11            0.0       2.8      -2.8   1.9  drizzle
381   2013-01-16            0.0       6.1      -3.9   1.8  drizzle
382   2013-01-17            0.0       3.9      -2.8   1.0  drizzle
383   2013-01-18            0.0       3.3      -1.1   1.3  drizzle
384   2013-01-19            0.0       1.1      -0.6   1.9  drizzle
385   2013-01-20            0.0       3.3      -0.6   2.1  drizzle
386   2013-01-21            0.0       2.2      -1.7   1.1  drizzle
387   2013-01-22            0.0       3.3      -1.7   0.6  drizzle
398   2013-02-02            0.0       6.1       2.8   2.0  drizzle
406   2013-02-10            0.0       8.9       1.7   2.0  drizzle
411   2013-02-15            0.0      13.3       5.0   2.4  drizzle
432   2013-03-08            0.0      11.7       2.2   2.6  drizzle
454   2013-03-30            0.0      20.0       5.6   4.4  drizzle
472   2013-04-17            0.0      15.0       3.9   3.3  drizzle
673   2013-11-04            0.0      10.6       3.9   1.6  drizzle
1261  2015-06-15            0.0      30.0      16.1   3.5  drizzle
1282  2015-07-06            0.0      29.4      15.6   3.2  drizzle
1284  2015-07-08            0.0      30.0      14.4   1.9  drizzle
1326  2015-08-19            0.0      31.7      16.1   2.1  drizzle
1329  2015-08-22            0.0      26.7      12.2   2.5  drizzle
1330  2015-08-23            0.0      27.8      13.9   1.8  drizzle
1374  2015-10-06            0.0      18.3      10.0   2.6  drizzle
('drizzle',)
            date  precipitation  temp_max  temp_min  wind weather
192   2012-07-11            0.0      27.8      13.3   2.9     fog
260   2012-09-17            0.0      27.8      11.7   2.2     fog
266   2012-09-23            0.0      19.4      10.0   1.4     fog
267   2012-09-24            0.0      21.1      10.0   1.8     fog
330   2012-11-26            0.0       9.4       1.7   3.8     fog
...          ...            ...       ...       ...   ...     ...
1419  2015-11-20            0.0       8.3       0.6   4.0     fog
1421  2015-11-22            0.0      10.0       1.7   3.1     fog
1428  2015-11-29            0.0       1.7      -2.1   0.9     fog
1448  2015-12-19            0.0       8.3       2.8   4.1     fog
1458  2015-12-29            0.0       7.2       0.6   2.6     fog

[101 rows x 6 columns]
('fog',)
            date  precipitation  temp_max  temp_min  wind weather
1     2012-01-02           10.9      10.6       2.8   4.5    rain
2     2012-01-03            0.8      11.7       7.2   2.3    rain
3     2012-01-04           20.3      12.2       5.6   4.7    rain
4     2012-01-05            1.3       8.9       2.8   6.1    rain
5     2012-01-06            2.5       4.4       2.2   2.2    rain
...          ...            ...       ...       ...   ...     ...
1452  2015-12-23            6.1       5.0       2.8   7.6    rain
1453  2015-12-24            2.5       5.6       2.2   4.3    rain
1454  2015-12-25            5.8       5.0       2.2   1.5    rain
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain

[641 rows x 6 columns]
('rain',)
            date  precipitation  temp_max  temp_min  wind weather
13    2012-01-14            4.1       4.4       0.6   5.3    snow
14    2012-01-15            5.3       1.1      -3.3   3.2    snow
15    2012-01-16            2.5       1.7      -2.8   5.0    snow
16    2012-01-17            8.1       3.3       0.0   5.6    snow
17    2012-01-18           19.8       0.0      -2.8   5.0    snow
18    2012-01-19           15.2      -1.1      -2.8   1.6    snow
19    2012-01-20           13.5       7.2      -1.1   2.3    snow
56    2012-02-26            1.3       5.0      -1.1   3.4    snow
58    2012-02-28            3.6       6.7      -0.6   4.2    snow
59    2012-02-29            0.8       5.0       1.1   7.0    snow
65    2012-03-06            0.5       6.7       0.0   2.7    snow
71    2012-03-12           19.3       8.3       0.6   6.2    snow
72    2012-03-13            9.4       5.6       0.6   5.3    snow
74    2012-03-15           23.9      11.1       5.6   5.8    snow
76    2012-03-17            9.4      10.0       0.6   3.8    snow
95    2012-04-05            4.6       9.4       2.8   1.8    snow
349   2012-12-15            5.3       4.4       0.6   5.1    snow
350   2012-12-16           22.6       6.7       3.3   5.5    snow
352   2012-12-18            3.3       3.9       0.6   5.3    snow
353   2012-12-19           13.7       8.3       1.7   5.8    snow
359   2012-12-25           13.5       5.6       2.8   4.2    snow
375   2013-01-10            0.3       3.3      -0.6   2.1    snow
445   2013-03-21            8.1      10.0       2.2   4.9    snow
719   2013-12-20            5.6       8.3       0.6   3.7    snow
769   2014-02-08            5.1       5.6      -0.5   4.6    snow
1063  2014-11-29            3.6       4.4      -4.3   5.3    snow
('snow',)
            date  precipitation  temp_max  temp_min  wind weather
7     2012-01-08            0.0      10.0       2.8   2.0     sun
10    2012-01-11            0.0       6.1      -1.1   5.1     sun
11    2012-01-12            0.0       6.1      -1.7   1.9     sun
12    2012-01-13            0.0       5.0      -2.8   1.3     sun
32    2012-02-02            0.0       8.3       1.7   2.6     sun
...          ...            ...       ...       ...   ...     ...
1427  2015-11-28            0.0       7.2      -2.7   1.0     sun
1443  2015-12-14            0.0       7.8       1.7   1.7     sun
1455  2015-12-26            0.0       4.4       0.0   2.5     sun
1459  2015-12-30            0.0       5.6      -1.0   3.4     sun
1460  2015-12-31            0.0       5.6      -2.1   3.5     sun

[640 rows x 6 columns]
('sun',)

In [31]:
#Getting Rain 

rain=data01.get_group("rain")

In [30]:
rain

            date  precipitation  temp_max  temp_min  wind weather
1     2012-01-02           10.9      10.6       2.8   4.5    rain
2     2012-01-03            0.8      11.7       7.2   2.3    rain
3     2012-01-04           20.3      12.2       5.6   4.7    rain
4     2012-01-05            1.3       8.9       2.8   6.1    rain
5     2012-01-06            2.5       4.4       2.2   2.2    rain
...          ...            ...       ...       ...   ...     ...
1452  2015-12-23            6.1       5.0       2.8   7.6    rain
1453  2015-12-24            2.5       5.6       2.2   4.3    rain
1454  2015-12-25            5.8       5.0       2.2   1.5    rain
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain

[641 rows x 6 columns]

In [34]:
#Getting drizzle group

drizzle=data01.get_group("drizzle")

In [37]:
drizzle.describe()

       precipitation   temp_max   temp_min       wind
count           53.0  53.000000  53.000000  53.000000
mean             0.0  15.926415   7.111321   2.367925
std              0.0   8.812036   6.182191   0.911418
min              0.0   1.100000  -3.900000   0.600000
25%              0.0   8.300000   1.700000   1.800000
50%              0.0  16.100000   8.300000   2.100000
75%              0.0  23.900000  12.800000   2.700000
max              0.0  31.700000  16.100000   4.700000