
                                                        PANDAS

In [1]:
#IMPORTING PANDAS LIBRARY
import pandas as pd

In [2]:
data=pd.read_csv("C:\\Users\\nqnqa\\Downloads\\seattle-weather.csv")

In [5]:
#NULL VALUES

data.isnull()

       date  precipitation  temp_max  temp_min   wind  weather
0     False          False     False     False  False    False
1     False          False     False     False  False    False
2     False          False     False     False  False    False
3     False          False     False     False  False    False
4     False          False     False     False  False    False
...     ...            ...       ...       ...    ...      ...
1456  False          False     False     False  False    False
1457  False          False     False     False  False    False
1458  False          False     False     False  False    False
1459  False          False     False     False  False    False
1460  False          False     False     False  False    False

[1461 rows x 6 columns]

In [7]:
#INFO
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [12]:
#Checking null values if any in each row

data.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [13]:
# DATA TYPES

data.dtypes

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [15]:
#MAX TEMP in temp_max column

data["temp_max"].max()

35.6

In [16]:
#MIN TEMP in temp_max column

data["temp_max"].min()

-1.6

In [17]:
#MEAN OF temp_max column

data["temp_max"].mean()

16.43908281998631

In [19]:
#STANDARD DEVIATION OF temp_max column

data["temp_max"].std()

7.349758097360177

In [20]:
data

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [27]:
#Date when it was foggy

data["date"][data["weather"]=="fog"]

192     2012-07-11
260     2012-09-17
266     2012-09-23
267     2012-09-24
330     2012-11-26
           ...
1419    2015-11-20
1421    2015-11-22
1428    2015-11-29
1448    2015-12-19
1458    2015-12-29
Name: date, Length: 101, dtype: object

In [29]:
#Date when it rained

data["date"][data["weather"]=="rain"]

1       2012-01-02
2       2012-01-03
3       2012-01-04
4       2012-01-05
5       2012-01-06
           ...
1452    2015-12-23
1453    2015-12-24
1454    2015-12-25
1456    2015-12-27
1457    2015-12-28
Name: date, Length: 641, dtype: object

In [33]:
#GET WHOLE ROW WHEN IT WAS SUN
sun=data[data["weather"]=="sun"]
sun

            date  precipitation  temp_max  temp_min  wind weather
7     2012-01-08            0.0      10.0       2.8   2.0     sun
10    2012-01-11            0.0       6.1      -1.1   5.1     sun
11    2012-01-12            0.0       6.1      -1.7   1.9     sun
12    2012-01-13            0.0       5.0      -2.8   1.3     sun
32    2012-02-02            0.0       8.3       1.7   2.6     sun
...          ...            ...       ...       ...   ...     ...
1427  2015-11-28            0.0       7.2      -2.7   1.0     sun
1443  2015-12-14            0.0       7.8       1.7   1.7     sun
1455  2015-12-26            0.0       4.4       0.0   2.5     sun
1459  2015-12-30            0.0       5.6      -1.0   3.4     sun
1460  2015-12-31            0.0       5.6      -2.1   3.5     sun

[640 rows x 6 columns]

In [39]:
#Number of days when it was sunny

print(len(sun))

640

In [30]:
# rows slicing

data[5:15]

          date  precipitation  temp_max  temp_min  wind weather
5   2012-01-06            2.5       4.4       2.2   2.2    rain
6   2012-01-07            0.0       7.2       2.8   2.3    rain
7   2012-01-08            0.0      10.0       2.8   2.0     sun
8   2012-01-09            4.3       9.4       5.0   3.4    rain
9   2012-01-10            1.0       6.1       0.6   3.4    rain
10  2012-01-11            0.0       6.1      -1.1   5.1     sun
11  2012-01-12            0.0       6.1      -1.7   1.9     sun
12  2012-01-13            0.0       5.0      -2.8   1.3     sun
13  2012-01-14            4.1       4.4       0.6   5.3    snow
14  2012-01-15            5.3       1.1      -3.3   3.2    snow